// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

div.my-card{
    width: 540px;
    height: 310px;
}

div.my-card-secondary{
    img{
        width: 400px;
    }
}

